@import "src/styles/variables";

.wrapper, .authBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  height: 100vh;
  align-items: center;

  background: $main-bg;
}

.title {
  color: white;
  margin-bottom: 1.5rem;
}

.authBlock {
  padding: 1rem;
  width: min(100vw, 325px);
  position: relative;

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  label {
    display: block;
    color: white;
  }

  .input {
    font-size: 1.25rem;
    margin-bottom: 1rem;

    color: $input-color;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid $main-color;

    &::placeholder {
      font-size: 18px;
    }

    &:focus{
      box-shadow: 0 4px 2px -2px $main-color;
    }
  }

  .button {
    align-self: center;
    width: min(100vw, 150px);

    border: 2px solid darken($main-color, 15);
    transition: background-color .15s ease-in-out;


    &:hover {
      background: darken($main-color, 15);
    }
  }
}

.redBorder {
  border-bottom: 2px solid red !important;

  &:focus{
    box-shadow: 0 4px 2px -2px red !important;
  }
}



