@import "src/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  color: white;

  .input{
    background: white;
    color: black;
  }

  label:has(input) {
    display: flex;
    flex-direction: row;

    span {
      display: block;
      width: 100px;
    }
  }
}

.status {
  font-size: 1.1rem;
}

.error {
  color: red !important;
}

.success {
  color: green !important;
}

.confirm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}