@import "/src/styles/variables";

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  color: white;

  .avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid $main-color;
  }

  .username {
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
  }

  .profession{
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .summary{

  }

  .registrationDate {
  }
}
