.backdrop {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: 99999;

  padding: .5rem;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

@keyframes fadeIn {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}